<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">jdbc:postgresql://ec2-63-32-248-14.eu-west-1.compute.amazonaws.com:5432/d48gdb3i8om4sn?sslmode=require</property>
        <property name="hibernate.connection.username">vxomjackcnhspm</property>
        <property name="hibernate.connection.password">db10ecfa66e9d767bc08796216fe271cc0af616d64281e2b7bf76bb88cb390f1</property>

        <!-- Для просмотра количества запросов в БД -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.highlight_sql">true</property>

        <mapping class="com.itbatia.app.model.User"/>
        <mapping class="com.itbatia.app.model.File"/>
        <mapping class="com.itbatia.app.model.Event"/>
    </session-factory>
</hibernate-configuration>