<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- restapiapply -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://ec2-176-34-211-0.eu-west-1.compute.amazonaws.com:5432/d77c53dfs5q4bb?sslmode=require</property>-->
        <!-- <property name="hibernate.connection.username">eicoptvowcwohb</property>-->
        <!-- <property name="hibernate.connection.password">23d661acf1a6f28d843dcc11da6314a8ceb610d5b48dc161994399c79464b99e</property>-->

        <!-- restapiapply2 -->
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-107-23-76-12.compute-1.amazonaws.com:5432/d5ipeajr6hk4i5?sslmode=require</property>
        <property name="hibernate.connection.username">dojlhxgihbwxno</property>
        <property name="hibernate.connection.password">1cf9d40a548746e8a4c8e9edcacde9fc736227a17b8c997f037e53ca0a08f39f</property>

        <!-- local -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/RestApi</property>-->
        <!-- <property name="hibernate.connection.username">postgres</property>-->
        <!-- <property name="hibernate.connection.password">itbatia7104203</property>-->

        <!-- Для просмотра количества запросов в БД -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.highlight_sql">true</property>

        <mapping class="com.itbatia.app.model.User"/>
        <mapping class="com.itbatia.app.model.File"/>
        <mapping class="com.itbatia.app.model.Event"/>
    </session-factory>
</hibernate-configuration>