body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: antiquewhite;
    margin: 50px;
}

.main {
    background-color: #FFF;
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.title {
    padding: 5px 10px 10px;
    background-color: burlywood;
}

.method_column{
    width: 70px; /* Ширина элемента в пикселах */
    border: 2px solid burlywood; /* Параметры рамки */
    background: antiquewhite; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center;
}

.url_column{
    width: 380px; /* Ширина элемента в пикселах */
    border: 2px solid burlywood; /* Параметры рамки */
    background: white; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
}

.body_column{
    width: 520px; /* Ширина элемента в пикселах */
    border: 2px solid burlywood; /* Параметры рамки */
    background: white; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
}

.method_column_post{
    width: 70px; /* Ширина элемента в пикселах */
    border: 3px solid #84DCA3; /* Параметры рамки */
    background: #84DCA3; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: "Arial Black", sans-serif; /* Рубленый шрифт */
    font-size: 100%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center;
}

.method_column_get{
    width: 70px; /* Ширина элемента в пикселах */
    border: 3px solid #ABABFF; /* Параметры рамки */
    background: #ABABFF; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: "Arial Black", sans-serif; /* Рубленый шрифт */
    font-size: 100%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center;
}

.method_column_put{
    width: 70px; /* Ширина элемента в пикселах */
    border: 3px solid #FFC000; /* Параметры рамки */
    background: #FFC000; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: "Arial Black", sans-serif; /* Рубленый шрифт */
    font-size: 100%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center;
}

.method_column_delete{
    width: 70px; /* Ширина элемента в пикселах */
    border: 3px solid #FF0000; /* Параметры рамки */
    background: #FF0000; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-family: "Arial Black", sans-serif; /* Рубленый шрифт */
    font-size: 100%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center;
}

.footer {
    width: 1000px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}